CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

build/
.vscode/

.vscode/c_cpp_properties.json
.vscode/cmake-kits.json
.vscode/extensions.json
.vscode/settings.json
.vscode/tasks.json
